<div class="container">
  <h1>About</h1>

  <h5 class="">
    <span>Hey Everyone!</span><br>
    <span>My name is Alozie Ihuoma. I am a Software Developer from Lagos.</span><br>
    <span>Right from childhood, i have been excited by the prospective of tinkering with process until i experience a moment of truth and self discovery, which has ultimately led me to technology and to be specific Coding.
      Notwithstanding, a little detour in career path led me to studied Applied Biochemistry from The prestigious Federal University of Technology, Owerri. After graduating in 2010, i pursued some interests in Marketing,
      Energy and Customer Services before returning to my first love Software Development. In my spare time, I like to learn new technoogies and work on side projects.
    </span><br>
    <span>I plan to use his platform to document my adventures and experiences while developing software solutions and also wsrite about what i have been and will be working on</span><br>
    <span>Remember Today is another opportunity to be world class!!</span><br>

  </h5>

</div>
