.intro {
  text-align: center;
  background-color: brown;
  padding: 4em;
}

.socials {
  box-align: center;
  padding: 2em;
}
.svg {
  width: 20px;
  color: white
  ;
  margin-right: 2em;
}

h4 {
  padding: 2em;
}
