<nav class="intro">

    <h1>Alozie Ihuoma</h1>
    <h4>Developer.</h4>

    <div class="socials">
        <a  href="https://twitter.com/CodeEssential"><img src="\assets\svg\twitter.svg"  class="svg"  alt="Responsive image"></a>
        <a  href="https://medium.com/@alozie.ihuomao" ><img src="\assets\svg\medium.svg"class="svg" alt="Responsive image"></a>
        <a  href="https://www.facebook.com/talktoalozie" ><img src="\assets\svg\facebook.svg" class="svg"  alt="Responsive image"></a>
        <a  href="https://github.com/ihuomao"><img src="\assets\svg\github.svg" class="svg" alt="Responsive image"></a>

    </div>
    <div class="supportedContent">
      <a class="nav-link"  [routerLink]="['/about-me']">About Me</a>
      <a class="nav-link"  [routerLink]="['/skills']">Skills</a>
      <a class="nav-link" [routerLink]="['/work']">Work</a>
      <a class="nav-link" [routerLink]="['/connect']">Connect</a>
    </div>
</nav>

