.intro {
  text-align: center;
  background-color: whitesmoke;
  padding: 5em;
}

.socials {
  box-align: center;
  padding: 3em;
}

.supportedContent {
  box-align: center;
  padding: 2em;
}

.svg {
  width: 30px;
  color: white;
  margin-right: 2em;
}

h4 {
  padding: 2em;
}

.footer {
  padding: 5em;
}

.foot {
  width: 10px;
  margin-left: 0.25em;

}
