<h2>PORTFOLIO</h2>
<table>
  <thead>
    <th>PUBLIC PROJECTS</th>
    <th>PRIVATE PROJECTS</th>
  </thead>
  <tbody>
    <tr>
      <td>A Mini-version Netflix App:
        <p>An App designed for searching for movies</p>
        Link: <a href=""></a>
    </td>
      <td>Itextill Inventory App:
        <p>An App designed for searching for movies</p>
        Link: <a href=""></a>
      </td>
    </tr>
    <tr>
      <td>A Weight Tracker App:
        <p>An App designed for searching for movies</p>
        Link: <a href=""></a>
      </td>
      <td>Essentials Software Website:
        <p>An App designed for searching for movies</p>
        Link: <a href=""></a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="effort">
   <h3>CONTRIBUTIONS</h3>
   <P> I have not made any code contributions to any open source github repositories</P>
</div>
<div>
  <h4>149 contributions in the last year</h4>
  <img src="\assets\svg\gitcontribution.png" class="overview">
  <div class="effort">
    <p>Activity overview</p>
    <p>Contributed to abbeydabiri/itextill-uimerchant ihuomaO/Weight-Tracker ihuomaO/Mini-Netflix
       and  other repositories
    </p>
  </div>
  <img src="\assets\svg\github.svg" class="ghub">
  <div class= "stats">
    <span class="inside">
      Contributions in the last year: <br>
      149 total <br>
      Aug 16, 2019 - Dec 01, 2019
    </span>
    <span class="side">
      Longest Streak: <br>
      10 days <br>
      Aug 16, 2019 - Aug 26, 2019
    </span>
    <span class="inside">
      Current Streak: <br>
      5 days <br>
      Dec 20, 2019 - Dec 25, 2019
    </span>
  </div>
</div>
<app-sitefooter class="ending"></app-sitefooter>
