<div class="d-flex justify-content-around">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\assets\svg\Ihuoma.jpeg" class="card-img" alt="my picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Email:</h5>
          <p class="card-text">alozie.ihuomao@gmail.com</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Mobile:</h5>
          <p class="card-text">+234 703 157 3659</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <form>
      <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputWebsite">Website</label>
        <input type="email" class="form-control" id="exampleInputWebsite" aria-describedby="websiteHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPhone">Phone</label>
        <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group form-check">
        <p>Privacy*</p>
        <p>By using this form you agree with the storage and handling of your data by this website.
           Please read our Privacy Policy for more information on how we handle your data.
        </p>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<hr>
<app-sitefooter></app-sitefooter>

